@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;900&display=swap');

:root{
    --Mulish: 'Mulish', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.body {
  background: #fff;
}

.header{
    padding: 10px 0;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
}

.navigation_item{
    list-style: none;
    margin-left: 40px;
}

.navigation_links{
    color: #000;
    opacity: 50%;
    font-family: var(--Mulish);
    transition: 0.5s;
}

.home{
    opacity: 100%;
    font-weight: 700;
    transition: 1s;
}

.navigation_links:hover{
    opacity: 100%;
}

.home:hover{
    opacity: 50%;
}

.intro__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__tittle{
    font-size: 48px;
    font-family: var(--Mulish);
    line-height: 56px;
    font-weight: 700px;
}

.intro__subtitle{
    font-family: var(--Mulish);
    font-size: 21px;
    color: black;
    opacity: 50%;
    line-height: 32px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 45px;
}

.intro__button{
    color: #fff;
    padding: 20px 40px;
    background: #458FF6;
    border-radius: 55px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 700;
    font-family: var(--Mulish);
    transition: 0.5s;

}

.intro__button:hover{
    opacity: 50%;
}

.main{
    margin-top: 84px;
}

.services_container_content{  
    text-align: center;
}

.container_content{
    font-weight: bold;
    font-size: 36px;
    color:black;
    margin-top: 115px;
    margin-bottom: 26px;
}

.line{
    width: 56px;
    height: 2px;
    background: black;
    border-radius: 5px;
    margin-left: 590px;
    margin-bottom: 33px;
}

.content-desc{
    font-family: var(--Mulish);
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7D7987;
}

.service-lists{
    margin-left: 300px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-item{
    position: relative;
    width: 350px;
    height: 354px;
    background: white;
    display: block;
    box-shadow: 10px 40px 50px rgba(229, 233, 245, 0.4);
    border-radius: 20px;
    margin-top: 50px;
    padding-left: 40px;
}

.frame-head{
    font-family: var(--Mulish);
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.frame-content{
    width: 266px;
    height: 84px;
    top: 1447.41px;
    left: 279px;
    gap: 0px;
    opacity: 0px;
    font-family: var(--Mulish);
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7D7987;

}

.service-link{
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    height: 56px;
    color: #458FF6;
    padding: 18px 56px;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: auto;
}



.leader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.leader-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 100px;
}

.leader-content {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
}

.leader-wrapper {
    max-width: 100%;
    text-align: left;
}

.leader-tittle{
    font-family: var(--Mulish);
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.leader-subtitle{
    font-family: Muli;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 25px;
    margin-bottom: 45px;
    color:#7D7987;
}


