:root {
    --ld: 1120px;
    --xl: 1366px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1 {
    padding: 16px 0 24px 0;
    font-weight: 700;
    font-size: 52px;
    line-height: 68px;
}

h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color:#00856F;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    justify-content: center;
}

header nav ul {
    display: flex;
    width: 400px;
    justify-content: center;
    column-gap: 32px;
}

header {
    background-color: #DCE9E2;
    max-width: var(--xl);
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin: auto;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 100%;
    max-width: var(--ld);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #00856F70;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
}

ul li a:hover {
    color: black;
    font-weight: 700;
    border-bottom: 2px solid #00856F;
    line-height: 72px;                                               
}

header nav div button {
    height: 38px;
    width: 190px;
    border-radius: 40px;
    background-color: #DCE9E2;
    border: 1px solid #00856F;
    color: #00856F;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    line-height: 18px;
}

header nav div button:hover {
    background-color: #00856F;
    color: white;
}

.doctor {
    font-size: 20px;
    color: #061800;
}

section {
    display: flex;
    max-width: var(--xl);
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
}

main {
    max-width: var(--xl);
    margin: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.hero-bin {
    padding-top: 80px;
    height: 606px;
    width: 100%;
    max-width: var(--ld);
    display: flex;
    flex-wrap: wrap;
}

.hero {
    background-color: #DCE9E2; 
    width: 100%;
    max-width: var(--xl);
}

.heat {
    color: #00856F;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.08em;
}


.heatp {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400; 
    color: #384633;
    margin-bottom: 32px;
}

h1 {
    width: 605px;
}

.hero-bin-content {
    display: flex;
    flex-direction: column;
    width: 605px;
    height: 335px;
}

.hero img {
    position: relative;
    height: 549px;
    width: 420px;
    top: -90px;
    left: 50px;
}


button.but {
    background-color: #00856F;
    width: 263px;
    height: 52px;
    border-radius: 40px;
    gap: 16px;
    border: none;
    color: #DCE9E2;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button.but:hover {
    background-color: transparent;
    color: #00856F;
    border: 1px solid #00856F;
}

button.but svg {
    fill: #DCE9E2;
    width: 17px;
}

button.but:hover svg {
    fill: #00856F;
}

.box {
    position: relative;
    top: -130px;
    width: 1120px;
    height: 210px;
    background-color: #FFFAF1;
    border: 1px solid #DCE9E2; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-bin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 881px;
    height: 90px;
}

.b1 {
    color: #061800;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    text-align: center;
}

.b2 {
    color: #00856F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.border {
    border-right: 1px solid #00856F50;
    border-left: 1px solid #00856F50;
    width: 383px;
}
